<!DOCTYPE html>
  <html>
    <head>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="../css/style.css" rel="stylesheet">
    </head>

 
  
    <div>
        <%-include ./partial/navbar.ejs %>
    </div>

    <div class="container">
          <div class="row">
            <div class="col s12">
              <h3>About Group Out</h3>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
             <p>Group Out is a project of the Montana Code School and students Jesse Sindler, Eric Ellingson, Ryan Jellesed and Skyla Sisco.  The impetus for this project was to create a platform for sharing outdoor activities in the Missoula community. </p>
             <p> Group Out is currently in Beta with minimum features </p>
            </div>
          </div>

          <div class="row">
              <div class="col s12">
              <h3>Terms and Usage</h3>
              </div>
            <div class="col s12">
             <p>Group Out's success depends on the respect of people's time, personal choices, and personal boundaries. Group Out does monitor and restrict behaviors and/or comments that are dishonest, undermine the integrity of the platform or violate personal boundaries. </p>
             <p>All organizers and users must take ownership over their personal safety and should never put themselves or others in danger.  By using this site the users agrees that Group Out will not be held responsible for any organizer or users safety.
             </p>
             
            </div>
          </div>

              <div class="row">
              <div class="col s12">
              <h3>Privacy</h3>
              </div>
            <div class="col s12">
             <p>We collect personal information only through the Facebook log-in.  This informatio includes but is not limited to username, profile picture and email.  We do not collect this information for use in any marketing material and will not contact you for purposes outside of Group Out.  We will not distribute any private information to any 3rd party for any reason.  Distribution of personal information will only occur when required by law. </p>

             
            </div>
          </div>


    </div>


 	
  
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      
      <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    
      <script type="">$(document).ready(function(){
      $('.slider').slider({full_width: true});
      $('.parallax').parallax();  
        });
      </script>

      <script type="text/javascript" src="./static/main.js"></script>
     </body>
</html>