<!DOCTYPE html>
  <html>
    <head>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="../css/style.css" rel="stylesheet">
    </head>

    <body>

      <container>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Signup</a></li>
          <li><a href="#!">Group Outs</a></li>
          <li class="divider"></li>
          <li><a href="#!">Create Group Out</a></li>
          <li><a href="#!">Profile</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper blue-grey darken-2">
            <a id="logo" href="#!" class="brand-logo">Group Out!</a>
            </ul>
            <ul class="right">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><a href=""><i class="material-icons">directions_run</i></a></li>
              <li><a href=""><i class="material-icons">fitness_center</i></a></li>
              <li><a href=""><i class="material-icons">directions_bike</i></a></li>
              <!-- Dropdown Trigger -->
              
            
          </div>
        </nav>
      </container> <!-- end nav container -->

        <div class="slider">
          <ul class="slides">

            <li>
              <img src="../img/woman.jpg"> 
              <div class="caption left-align">
                <h2>GO</h2>
                <h3>Into The Unknown</h3>
                <a href="/auth/facebook" class="waves-effect waves-light btn-large">log in with <span class="fa fa-facebook-square fa-2x"></span></a>
              </div>
            </li>

            <li>
              <img src="../img/shoes.jpg"> 
              <div class="caption right-align">
                <h2>GO</h2>
                <h3 class="light grey-text text-lighten-3">Somewhere New</h3>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook-square"></span> Facebook</a>
              </div>
            </li>

            <li>
              <img src="../img/girl.jpg"> 
              <div class="caption left-align">
                <h2>GO</h2>
                <h3 class="light grey-text text-lighten-3">Discover The World</h3>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook-square"></span> Facebook</a>
              </div>
            </li>

            <li>
              <img src="../img/tourism.jpg"> 
              <div class="caption center-align">
                <h2>GO</h2>
                <h3 class="light grey-text text-lighten-5">Against The Status Quo</h3>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook-square"></span> Facebook</a>
              </div>
            </li>

            <li>
              <img src="../img/mountain-bike.jpg"> 
              <div class="caption left-align bottom ">
                <h2>GO</h2>
                <h3 class="light grey-text text-lighten-3">Find An Adventure</h3>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook-square"></span> Facebook</a>
              </div>
            </li>

          </ul>
        </div> <!-- end slider -->
<script>
 window.fbAsyncInit = function() {
   FB.init({
     appId      : '1732046997082547',
     xfbml      : true,
     version    : 'v2.5'
   });
 };

 (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div>

</div>


    <div class="container" id="goCard-app-all">
        <div class="row">
        </div>
    </div>


      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      
      <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    
      <script type="">$(document).ready(function(){
      $('.slider').slider({full_width: true});
      $('.parallax').parallax();  
        });
      </script>

      <script type="text/javascript" src="./static/main.js"></script>
</body>

<!-- Compiled and minified JavaScript -->
  
</html>