

#logo {
  padding-left: 40px;
}


.parallax-container {
      height: 500px;
    }

.icon-ours {
	height: 35px;
	width: 35px;

}

.icon-ours-level {
	height: 50px;
	width: 50px;
	padding-right: 5px;
}

#map {
       width: 500px;
       height: 400px;
     }
.padded {
	padding-bottom: 2px;
}
