

#logo {
  padding-left: 40px;
}


.parallax-container {
      height: 500px;
    }

.icon-ours {
	height: 50px;
	width: 50px;

}

.icon-ours-level {
	height: 62px;
	width: 62px;
}

 #map {
       width: 500px;
       height: 400px;
     }