  <container>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Signup</a></li>
          <li><a href="#!">Group Outs</a></li>
          <li class="divider"></li>
          <li><a href="#!">Create Group Out</a></li>
          <li><a href="#!">Profile</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper blue-grey darken-2">
            <a id="logo" href="#!" class="brand-logo">Group Out!</a>
            </ul>
            <ul class="right">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><a href=""><i class="material-icons">directions_run</i></a></li>
              <li><a href=""><i class="material-icons">fitness_center</i></a></li>
              <li><a href=""><i class="material-icons">directions_bike</i></a></li>
              <!-- Dropdown Trigger -->
              
            
          </div>
        </nav>
 </container> <!-- end nav container -->